
        body {
            background-color: lightblue;
              
        }

        .pandas {
            height: 200px;
            border: 2px solid #0000ff;
            margin: 20px;
            padding: 10px;
            background-color: royalblue;
        }

        #mypanda {
            height: 500px;
        }